.javanese {
  font-family: Javanese Text;
}
.lucida {
  font-family: Lucidafont Text;
}
.italianno {
  font-family: Italianno Text;
}


@font-face {
  font-family: Javanese Text;
  src: url(../fonts/Javanese\ text.ttf);
}
@font-face {
  font-family: Lucidafont Text;
  src: url(../fonts/Lucida\ Calligraphy\ EF.otf);
}
@font-face {
  font-family: Italianno Text;
  src: url(../fonts/Italianno-Regular.ttf);
}