.fs-32 {
  font-size: 32px;
}
.fs-28 {
  font-size: 28px;
}
.fs-100 {
  font-size: 6.25rem;
}
.fs-60 {
  font-size: 3.75rem;
  line-height: 1;
}

.text-justify {
  text-align: justify;
}
.text-blue {
  color: #2B227D !important;
}
.text-white {
  color: #ffffff !important;
}
.text-purple {
  color: #9B51E0 !important;
}
.text-green {
  color: #219653 !important;
}
.text-red {
  color: #EB5757 !important;
}
.text-orange {
  color: #F2994A !important;
}
.text-blue2 {
  color: #005EAB !important;
}
.text-blue3 {
  color: #56CCF2 !important;
}
.text-grey {
  color: #5E6979 !important;
}
.underlined {
  text-decoration: underline;
}

.bg-white {
  background-color: #ffffff !important;
}
.bg-purple {
  background-color: #9B51E0 !important;
}
.bg-green {
  background-color: #219653 !important;
}
.bg-blue {
  background-color: #347ce7 !important;
}
.bg-blue2 {
  background-color: #2B227D !important;
}
.bg-blue3 {
  background-color: #005EAB !important;
}
.bg-red {
  background-color: #EB5757 !important;
}
.bg-grey {
  background-color: #F6F6F6 !important;
}
.bg-orange {
  background-color: #F2994A !important;
}
.bg-pink {
  background-color: #F958D5 !important;
}
.bg-grey2 {
  background-color: #F7F8FA;
}
.bg-grey3 {
  background-color: #E0E0E0;
}

.border-blue {
  border: 3px solid #2B227D !important;
}
.border-blue2 {
  border: 2px solid #2B227D !important;
}
.border-green2 {
  border: 2px solid #219653 !important;
}
.border-grey {
  border: 1px solid #F6F6F6 !important;
}
.border-none {
  border: none !important;
}
.border-none:focus {
  box-shadow: 0 0 0 !important;
}
.border-x-blue {
  border-top: 3px solid #2B227D !important;
  border-bottom: 3px solid #2B227D !important;
}
.border-bottom-blue {
  border-bottom: 3px solid #2B227D !important;
}
.border-bottom-blue2 {
  border-bottom: 2px solid #2B227D !important;
}
.border-right-black {
  border: 1px solid #000;
}
.rounded-15 {
  border-radius: 15px !important;
}
.rounded-25 {
  border-radius: 25px !important;
}

.w-30 {
  width: 30% !important;
}
.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-fc {
  width: fit-content;
}
.h-fc {
  height: fit-content;
}
.h-60 {
  height: 60% !important;
}

.lst-none {
  list-style-type: none;
}
.td-none {
  text-decoration: none;
}
.td-underline {
  text-decoration: underline;
}

.bottom-10 {
  bottom: 10% !important;
}
.top-40 {
  top: 40% !important;
}


.badge-green {
  color: #219653 !important;
  background-color: rgb(33 150 83 / 20%);
  padding: 5px 10px;
}
.badge-orange {
  color: #EA7D18 !important;
  border: 1px solid #EA7D18 !important;
  padding: 5px 10px;
}
.badge-purple {
  color: #9B51E0 !important;
  border: 1px solid #9B51E0 !important;
  padding: 5px 10px;
}

.purple-button {
  background-color: #BB6BD9;
  color: #ffffff !important;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
}
.green-button {
  background-color: #219653;
  color: #ffffff !important;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
}