.fs-32 {
  font-size: 32px;
}
.fs-28 {
  font-size: 28px;
}

.text-justify {
  text-align: justify;
}
.text-blue {
  color: #2B227D !important;
}
.text-white {
  color: #ffffff !important;
}
.text-purple {
  color: #9B51E0 !important;
}
.text-green {
  color: #219653 !important;
}
.text-red {
  color: #EB5757 !important;
}
.text-orange {
  color: #F2994A !important;
}
.text-blue2 {
  color: #005EAB !important;
}
.text-blue3 {
  color: #56CCF2 !important;
}
.underlined {
  text-decoration: underline;
}

.bg-white {
  background-color: #ffffff !important;
}
.bg-purple {
  background-color: #9B51E0 !important;
}
.bg-green {
  background-color: #219653 !important;
}
.bg-blue {
  background-color: #347ce7 !important;
}
.bg-blue2 {
  background-color: #2B227D !important;
}
.bg-red {
  background-color: #EB5757 !important;
}
.bg-grey {
  background-color: #F6F6F6 !important;
}

.border-blue {
  border: 3px solid #2B227D !important;
}
.border-grey {
  border: 1px solid #F6F6F6 !important;
}
.border-none {
  border: none !important;
}
.border-none:focus {
  box-shadow: 0 0 0 !important;
}
.border-x-blue {
  border-top: 3px solid #2B227D !important;
  border-bottom: 3px solid #2B227D !important;
}
.border-bottom-blue {
  border-bottom: 3px solid #2B227D !important;
}
.border-bottom-blue2 {
  border-bottom: 2px solid #2B227D !important;
}
.rounded-15 {
  border-radius: 15px;
}
.rounded-25 {
  border-radius: 25px;
}

.w-30 {
  width: 30% !important;
}
.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}

.lst-none {
  list-style-type: none;
}
.td-none {
  text-decoration: none;
}

.bottom-10 {
  bottom: 10% !important;
}